
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - coouncil</title>
    <link rel="stylesheet" href="~/css/site.css">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/app.js"></script>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="~/materialize/css/materialize.min.css">
    <!-- <link  rel="stylesheet" href="~\materialize\css\materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <script src="~/materialize/js/materialize.min.js"></script>
            

    <script src="~/js/site.js"></script>
    


   
</head>
<body >
  

  <ul id="slide-out" class="sidenav" style="padding: 5px;">
    <li><div class="user-view center-align">
      <div class="background" >
        <img src="~/images/icon/admin.png" class="">
      </div>
      <br><br> <br>
      <br>
     
    </div></li>

    <!-- @User -->
    @if(User.IsInRole("Administrator"))
    {
    <li><a href="@Url.Action("Users","Admin")" class="dh right-align">ލޮގްވާ މުވަޒަފުން މެނޭޖް ކުރުން</a></li>
    

    }
  
    <li><div class="divider"></div></li>
    <li><a href="@Url.Action("CouncilInfo","Admin")" class="dh right-align">ކައުންސިލަރުންގެ މަޢުލޫމާތު </a></li>

    <li><a href="@Url.Action("News","Admin")" class="dh right-align">ޙަބަރު ޝާއިރު ކުރުމަށް </a></li>
     <li><a href="@Url.Action("UpdateNews","Admin")"  class="dh right-align">ޝާއިރު ކުރި ޙަބަރު އަށް އިސްލާހުގެނުމަށް</a></li>
    <li><a href="@Url.Action("Slider","Admin")" class="dh right-align">ފޮޓޯ ސްލައިޑަރ  ފޮޓޯލުމަށް</a></li>
    <!-- <li><a href="@Url.Action("UploadDoc","Admin")">upload doc</a></li> -->
    <li><a href="@Url.Action("UpdateLink","Admin")" class="dh right-align">ލިންކްތަކަށް މަޢުލޫމާތު </a></li>
    
    <h6 class="dh right-align">ކެފޭ އަދި ރެސްޓޯރަންޓް</h6>
    <hr>
    
    <li><a href="@Url.Action("Cafey","Admin")" class="dh right-align">ކެފޭ އަދި ރެސްޓޯރަންޓް ތަކުގެ މަޢުލޫމާތު  </a></li>
    <li>
      <a  href="@Url.Action("Bussiness","Admin")" class="dh right-align">
ވިޔަފާރި
      </a>
    </li>
 
     <li><a href="@Url.Action("Gallery","Admin")" class="dh right-align">ގެލަރީ</a></li>
    <li><a href="@Url.Action("Anouncements","Admin")" class="dh right-align">އެންގުންތައް</a></li>
    
    <li><a class="waves-effect dh right-align" href="@Url.Action("Logout","Account")" >ލޮގްއައުޓް</a></li>
  </ul>

  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

  <div class="container">
    @RenderBody()
  </div>

</body>
</html>
